:root {
    --primary-color: #0cc735; 
    --primary-text-color: white;
}

nav.navbar.text-bg-primary {
    background-color: var(--primary-color) !important;
    color: var(--primary-text-color) !important;
}


.btn-primary {
    background-color: #0cc735!important;
    border-color: #0cc735 !important; 
    color: white !important; 
}

.btn-primary:hover {
    background-color: #0cc735 !important; 
    border-color: #0cc735 !important;
}




.kosik img {
    width: 42px;
}

.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover; }


.card {
    width: 100%;
}

.tlacitko {
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-text1 {
    font-size: 170%;
}

.nav a{
    font-size: 200%;
    margin-left: 65%;
}

.kosik {
    margin-right: 7%;
}

.hledat {
    margin-left: 59%;
}

 .fnad {
    font-size: 180%;
    margin-top: 4%;
}

.footer {
    background-color: #0cc735;
}

.novinkyspod {
    margin-bottom: 10%;
}



.nadpis h1 {
    display: flex;
    justify-content: center;
    font-size: 250%;
    margin-top: 2%;
    
}

.obrazek {
    display: flex;
    align-items: center;
    font-size: 180%;
    gap: 3%;
}
.obrazek img {
    max-width: 1000px; 
    height: 400px;
      margin-right: 20px; 
      margin-top: 2%;
      border-radius: 3%;
    }

.clanky {
    margin-top: 5%;
    font-size: 150%;
    margin-bottom: 5%;
}

.clanky1 {
    margin-top: 3%;
    font-size: 150%;
    margin-bottom: 5%;
    background-color: #0cc735;
    border-radius: 3%;
    display: inline-block;
    padding: 3%;
}

.dropdown {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}